# If you're having problems running npm install, try using NPM 12.
#
# This file assumes NPM 12 or later. If you're using an older version, you
# may see various misbehavior dependiong on which version you're running and
# the current state of Jasmine's dependenies:
#
# * Later 11.x may fail with EALLOWGIT if any dependencies are set to git URLs
# * Later 11.x may fail to install during the first 14 days after a Jasmine
#   release, because some required packages are too new.
#   (min-release-age-exclude is mentioned in the NPM 11 docs but appearst to
#   only be supported by NPM 12.)
# * Anything before 11.1.0 won't enforce min-release-age.

ignore-scripts=true
min-release-age=14

# Exclude Jasmine packages from the cooldown period. This is necessary because
# during and shortly after a release one Jasmine package may depend on very new
# versions of others.
# Requires at least NPM 12.
min-release-age-exclude[]=jasmine
min-release-age-exclude[]=jasmine-core
min-release-age-exclude[]=jasmine-browser-runner
min-release-age-exclude[]=@jasminejs/reporters

# At times, particularly leading up to a major release, we may depend on the
# curent unreleased source of other Jasmine packages. set allow-git=root when
# that's the case.
allow-git=root
