<!DOCTYPE html>
html
  head
    title Jasmine suite
    link(rel="shortcut icon" href="images/jasmine_favicon.png" type="image/png")
    link(rel="stylesheet" href="lib/jasmine-core/jasmine.css" type="text/css" media="screen")
    - 
    each file in files
      script(src=file type="text/javascript")
  body