<nav>
  <ul>
    <li><a href="index.html">Welcome</a></li>
    <li><a href="download.html">Download</a></li>
    <li><a href="release-notes.html">Release Notes</a></li>
    <li>Documentation</li>
    <ul>
      <li><a href="user-guide.html">User Guide</a></li>
      <li><a href="background.html">Background</a></li>
      <li><a href="suites-and-specs.html">Suites and Specs</a></li>
      <li><a href="matchers.html">Matchers</a></li>
      <li><a href="before-and-after.html">Before and After</a></li>
      <li><a href="spies.html">Spies</a></li>
      <li><a href="async.html">Asynchronous Specs</a></li>
    </ul>
    <li><a href="gem.html">Using the Jasmine Gem</a></li>
    <li><a href="jsdoc/index.html">API Documentation</a></li>
    <li><a href="http://github.com/pivotal/jasmine#README">Contributor Guide</a></li>
    <li><a href="related.html">Related Projects</a></li>
  </ul>
</nav>
<script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 10,
    interval: 6000,
    width: 250,
    height: 300,
    theme: {
      shell: {
        background: '#333333',
        color: '#ffffff'
      },
      tweets: {
        background: '#e4e4e2',
        color: '#444444',
        links: '#216604'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: true,
      behavior: 'all'
    }
  }).render().setUser('jasminebdd').start();
</script>
