<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
  <title>Jasmine suite</title>
  <script src="/specs/javascripts/jasmine/lib/jasmine.js"></script>
  <script src="/specs/javascripts/jasmine/lib/json2.js"></script><!-- todo: don't load JSON in the test runner! [20090710 xw] -->
  <script src="/specs/javascripts/jasmine/lib/TrivialReporter.js"></script>
  <script src="/specs/javascripts/screw-jasmine-compat.js"></script>
  <script type="text/javascript"></script>
  <link href="/core/jasmine.css" rel="stylesheet"/>
  <script type="text/javascript">
    var jasmineEnv = jasmine.getEnv();
    var jsApiReporter = new jasmine.JsApiReporter();
    jasmineEnv.addReporter(jsApiReporter);
    jasmineEnv.addReporter(new jasmine.TrivialReporter());
    window.onload = function() {
      jasmineEnv.execute();
    };
  </script>

  <% spec_files.each do |spec_file| %>
    <script src="<%= spec_file %>" type="text/javascript"></script>
  <% end %>
</head>
<body>
<div id="jasmine_content"></div>
</body>
</html>
