
.copy
  These files are for the Standalone release. It's enough to bulid a spec runner on a static HTML page or via a JavaScript console with manual management of your project files.

.copy
  For a using Jasmine with Ruby on Rails, other Ruby frameworks, within continuous integration environments, or to gain more dynamic source and test file loading, see
  %a{link("http://github.com/pivotal/jasmine/wiki")} Using the Jasmine Gem
  = "."

%table#standalone-downloads
  %tr
    %th
    %th Version
    %th Size
    %th Date
    %th SHA1

  - downloads.each do |d|
    = render_partial "download_item", :filename => d[:filename],
                                      :version => d[:version],
                                      :rc => d[:rc],
                                      :size => d[:size],
                                      :date => d[:date],
                                      :sha => d[:sha]