.copy
  Jasmine is a behavior-driven development framework for testing your JavaScript code. It does not depend on any other
  JavaScript frameworks. It does not require a DOM. And it has a clean, obvious syntax so that you can easily write tests.

.highlight
  %pre
    %code.javascript= jasmine_snippet

.copy
  Jasmine can be run anywhere you can execute JavaScript: a static web page, your continuous integration environment, |
  or server-side environments like
  %a{:target => '_blank', :href => "httpe://nodejs.org"} Node.js
  = '.'

.copy
  Find out more in the
  %a{:target => '_blank', :href => "http://github.com/pivotal/jasmine/wiki"} documentation
  = '.'

%h2 Downloads

%ul
  %li
    %a{:target => '_blank', :href => "download.html"} Standalone
  %li
    %a{:target => '_blank', :href => "http://github.com/pivotal/jasmine/wiki/A-ruby-project"} Jasmine Ruby Gem
    for Rails, Ruby, or Ruby-friendly development
  %li
    %a{:target => '_blank', :href => "http://github.com/pivotal/jasmine/wiki"} Other environments
    Node.js, Maven, etc.

%h2 Support

%ul
  %li
    %a{:target => '_blank', :href => "jsdoc/index.html"} API Documentation
  %li
    %a{:target => '_blank', :href => "http://groups.google.com/group/jasmine-js"} Email list @ Google Groups:
    %a{:href => "mailto:jasmine-js@googlegroups.com"} jasmine-js@googlegroups.com
  %li
    %a{:target => '_blank', :href => "http://ci.pivotallabs.com"} Current Build Status
  %li
    %a{:target => '_blank', :href => "http://github.com/pivotal/jasmine/issues"} Report bugs at Github
  %li
    %a{:target => '_blank', :href => "http://www.pivotaltracker.com/projects/10606"} Project Backlog at Pivotal Tracker
  %li
    %img{:src => "http://twitter-badges.s3.amazonaws.com/t_mini-c.png"}
    %a{:target => '_blank', :href => "http://twitter.com/JasmineBDD"} Follow @JasmineBDD on Twitter