!!!
%head
  %meta{:charset => "utf-8"}
  %title
    = "Jasmine: BDD for your JavaScript"
  %link{ :rel => "shortcut icon", :type => "image/x-icon", :href =>"favicon.ico" }
  %link{ :rel => "stylesheet", :type => "text/css", :media => "screen, projection", :href => "/jasmine/css/screen.css" }
  %link{ :rel => "stylesheet",  :type => "text/css", :media => "screen, projection", :href => "/jasmine/css/pygments.css" }
%body
  %img.github{ :style => "position: absolute; top: 0; right: 0; border: 0;", :src => "http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", :alt => "Fork me on GitHub" }
  .banner
    %img{ :src => "/jasmine/images/jasmine_logo.png", :alt => "Jasmine: BDD for your JavaScript" }
    %h3 BDD for JavaScript
  %section{ :class => "content" }= yield
  %hr
  %span.small Powered by &nbsp;
  %a{ :href => "http://pivotallabs.com" , :target => '_blank' }
    %img{ :src => "/jasmine/images/pivotal_logo.gif", :alt => "Pivotal Labs, Inc." }
