<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v<%= jasmineVersion %></title>

  <link rel="shortcut icon" type="image/png" href="lib/jasmine-<%= jasmineVersion %>/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="lib/jasmine-<%= jasmineVersion %>/jasmine.css">

  <!-- require.js is the ONLY script that should be loaded here! It will look at data-main and load amdSpecRunner.js. amdSpecRunner.js loads jasmine, all of the specs, and runs the environment. -->
  <script type="text/javascript" data-main="lib/jasmine-<%= jasmineVersion %>/amd/amdSpecRunner" src="lib/requirejs/require.js"></script>

</head>

<body>
</body>
</html>
