<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
  <!--[if IE]>
  <script type="text/javascript" src="js/html5.js"/>
  <![endif]-->
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="css/screen.css"/>
  <link rel="stylesheet" type="text/css" media="screen, projection" href="css/pygments.css"/>
</head>
<body>
<a href="http://github.com/pivotal/jasmine"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
<div id="wrap" class="container_12">
  <header class="grid_12 alpha omega">
    <h1><a href="http://pivotal.github.com/jasmine"><img src="images/jasmine_logo.png" alt="Jasmine"/></a></h1>
  </header>
  <div class="clear"></div>
  <section class="grid_4 alpha">
    {% capture toc %} {% include toc.html %} {% endcapture %}
    {{ toc | textilize }}
  </section>
  <section class="grid_8 omega">
    {{ content }}
  </section>
  <div class="clear"></div>
  <footer>
    <div class="grid_12 alpha omega">
      <span class="small">Powered by &nbsp;
        <a href="http://pivotallabs.com/">
          <img src="images/pivotal_logo.gif" alt="Pivotal Labs, Inc."/>
        </a>
      </span>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("{{site.analytics_id}}");
      pageTracker._trackPageview();
    </script>
  </footer>
  <div class="clear"></div>
</div>
<!-- .container_12 -->
</body>
</html>