@import url("960gs/960.css");

/* http://www.levien.com/type/myfonts/inconsolata.html */
@font-face
{
  font-family: "inconsolata";
  src: url("../fonts/inconsolata.otf");
}

@font-face
{
  font-family: "droid sans";
  src: url("../fonts/droidsans.ttf");
}
@font-face
{
  font-family: "droid sans bold";
  src: url("../fonts/droidsans-bold.ttf");
}
body
{
  color:#333;
  font-family: helvetica, arial, sans-serif;
  font-size:87.5%;   /* 16px * 0.875 = 14px */
  line-height: 137.5%; /* 16px * 1.375  = 22px */
}
a
{
	color: #55862e;
  text-decoration: none;
  border-bottom: solid 1px #3030a2;
}
a:hover
{
  text-decoration: none;
  border-bottom: 0;
}

a:visited{
  color: #777;
  border-bottom: solid 1px #ccc;
}

h1, h2, h3, h4, h5, h6
{
  color: #000;
}
h1, h2, h3
{
  font-family: "droid sans", helvetica, arial, sans-serif;
}

h4, h5, h6
{
  font-family: "droid sans bold", helvetica, arial, sans-serif;
}

h1
{
  font-size: 150.0%;
}
h2
{
  font-size:  137.5%;
}
h3
{
  font-size: 125.0%;
}
h4
{
  font-size: 112.5%;
}
h5, h6{
  font-size: 100%;
}

pre,code
{
    font-family: "inconsolata", monospace;
    /* font-size: 1.142em; */
}

pre {
  border-left: 2px solid #55862e;
  padding-left: 1em;
}

.noul
{
  border-bottom: 0;
  text-decoration: none;
}

img {
  border: 0;
}

img.screenshot {
  padding-left: 35px;
  padding-right: 10px;
}

header, footer
{
  display: block;
  padding: .1em 0;
}


header h1{
  font-size:1.142em;
}

header h1 a, header h1 a:visited
{
  color:#55862e;
  text-decoration: none;
  border-bottom: none;
}

footer{
  margin-top:1em;
  border-top: solid 3px #ccc;
}

footer img {
	vertical-align: middle;
	height: 59px;
}
.twtr-widget a,
.twtr-widget a:visited,
footer a,
footer a:visited {
  border-bottom: none;
}

ul.posts
{
  list-style-type: none;
}

nav {
  margin-bottom: 25px;
}

table { border-collapse: collapse; width: 100% }
table th, table td { border: 1px solid #aaa; padding: .2em; }
table td { white-space:nowrap; }
#standalone-downloads td { font-family: monospace; }
#standalone-downloads td.sha { font-size: 0.8em; }
#standalone-downloads .rc td { background-color: #ddd; }
