
.copy
  These files are for the standalone release, meant for inclusion on a static HTML page and manual management of files.

.copy
  For a using Jasmine with Ruby on Rails, other Ruby frameworks, within continuous integration environments, or to gain more dynamic source and test file loading, see
  %a{ :href => "http://github.com/pivotal/jasmine/wiki" } Using the Jasmine Gem
  .

%table#standalone-downloads
  %tr
    %th
    %th Version
    %th Size
    %th Date
    %th SHA1

  - downloads.each do |d|
    = render_partial "download_item", :filename => d[:filename],
                                      :version => d[:version],
                                      :size => d[:size],
                                      :date => d[:date],
                                      :sha => d[:sha]


  -#%tr
  -#  %td.link= link "jasmine-standalone-1.0.1.zip", "/jasmine/downloads/jasmine-standalone-1.0.1.zip"
  -#  %td.version 1.0.1
  -#  %td.size 20k
  -#  %td.date 2010/10/05 13:37:01 PDT
  -#  %td.sha b2b3d00a7cb8d5ccd65a3356bb5ae15775328119
  -#
  -#%tr
  -#  %td.link= link "jasmine-standalone-1.0.0.zip", "/jasmine/downloads/jasmine-standalone-1.0.0.zip"
  -#  %td.version 1.0.0
  -#  %td.size 20k
  -#  %td.date 2010/09/14 12:54:38 PDT
  -#  %td.sha 1866f654a3ad0ab9109393ce31d6613c77916607
  -#
  -#%tr.rc
  -#  %td.link= link "jasmine-standalone-1.0.0.rc1.zip", "/jasmine/downloads/jasmine-standalone-1.0.0.rc1.zip"
  -#  %td.version 1.0.0.rc1
  -#  %td.size 19k
  -#  %td.date 2010/08/26 13:09:41 PDT
  -#  %td.sha 20e7da22bc7ce3433331a5ad44eb199f4ff34065
  -#
  -#%tr
  -#  %td.link= link "jasmine-standalone-0.11.1.zip", "/jasmine/downloads/jasmine-standalone-0.11.1.zip"
  -#  %td.version 0.11.1
  -#  %td.size 18k
  -#  %td.date 2010/06/25 16:05:30 PDT
  -#  %td.sha 26998c7ca047e47f84c382a4efeb1dc5cb8661a6


